<nav class="nav">
        <ul class="nav_list">


          {% for link in linklists.main-menu.links %} <!--リンクをひとつずつ取り出す-->          
             {% assign child_list_handle = link.title | handleize %}<!--リンクの名前をchild＿list＿handleで定義-->
             {% if linklists[child_list_handle].links != blank %}
                    <li class="has-child">

                      <a href="{{ link.url }}">{{ link.title }}</a>
                                <ul class="child_ul">
                                  {% for childlink in linklists[child_list_handle].links %} <!--リンクをひとつずつ取り出す-->  
                                  {% assign sub_list_handle = childlink.title | handleize %}<!--リンクの名前をchild＿list＿handleで定義--> 
                                  {% if linklists[sub_list_handle].links != blank %}

                                  <li class="has-child">
                                    <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                                              <ul class="sub_ul">
                                                {% for sublink in linklists[sub_list_handle ].links %}<!--孫リストここから-->
                                                <li>
                                                  <a href="{{ sublink.url }}">{{ sublink.title }}</a>

                                                </li>
                                                {% endfor %} <!--孫リストここまで-->
                                              </ul>
                                  {%else%}
                                  <li>
                                   <a href="{{childlink.url}}">{{ childlink.title }}</a>
                                  
                                  </li>
                                  {% endif %}
                                  {% endfor %}
                                  
                                 

                                </ul>
                    {% else %}
                    <li>
                      <a href="{{link.url}}">{{link.title}}</a>
                    </li>
                    {% endif %}

          {% endfor %}



        </ul>

        
        
      </nav>