<div class="header_menu font01">
            <ul class="header-dropmenu">
                
                {% for link in linklists[section.settings.main_linklist].links %}

                    {% if link.links == blank %}

                        {% if link.title =='TOP' %}
                            
                        {% else %}
                            <li class="trans"><a href="{{link.url}}">{{link.title}}</a></li>
                        {% endif %}
                        
                    {% endif %}

                    {% if link.links != blank %}
                        <li>
                            <a class="trans" href="{{link.url}}">{{link.title}}<span id="sub_menu_arrow"></span></a>
                            <ul class="font01">
                                {% for childlink in link.links %}
                                    <li class="trans"><a href="{{childlink.url}}">{{childlink.title}}</a></li>
                                {% endfor %}
                                
                            </ul>
                        </li>

                    {%endif%}

                {% endfor %}
            </ul>
</div>
