




<div class="footer_menu font02">
    <p>hello</p>
    {% for link in linklists[section.settings.main_linklist].links %}

                    {% if link.links == blank %}
                        <li><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endif %}

                    {% if link.links != blank %}
                        <li>
                            <a href="{{link.url}}">{{link.title}}<span id="sub_menu_arrow"></span></a>
                            <ul class="font01">
                                {% for childlink in link.links %}
                                    <li><a href="{{childlink.url}}">{{childlink.title}}</a></li>
                                {% endfor %}
                                
                            </ul>
                        </li>

                    {%endif%}

                {% endfor %}
        </div>

       <div class="footer_left">
           <a href="https://www.instagram.com/doublesiks_official/?hl=ja"><i class="fab fa-instagram"></i></a>
        <a href="https://line.me/R/ti/p/%40886wqltv"><i class="fab fa-line"></i></a>
        <div class="font01 copywrite">©︎2020_DOUBLESIKS</div>
</div>