<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if template == 'index' %}
  <title>{{ shop.name }}</title>
  {% elsif template = '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  
  {% if page_description %}
  <meta name="description" content="{{ page_description }}">
  {% endif %}

  {{content_for_header}}

  {{ 'reset.css' | asset_url | stylesheet_tag }}
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  {{ 'style.css' | asset_url | stylesheet_tag }}

  
</head>

<body>

  {% section 'header' %}



  
  {{ content_for_layout }}

  {% section 'footer' %}

  <script src="https://kit.fontawesome.com/14c63bdccc.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>