<div class="section_container">
    <div class="section_title font01">NEWS</div>

    <div class="news_all">
        {% paginate blog.articles by 3 %}
        {% for article in blog.articles %}

        <div class="news">
            <a href="{{ article.url }}">
                <div class="news_inner">
                    <div class="image_box">
                        <img src="{{ article.image.src | img_url: '500x' }}" alt="">
                    </div>

                    <div class="news_date font01">{{ article.published_at | date: "%Y.%m.%d " }}</div>
                    <div class="news_text font02">{{ article.title }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="page_nation">


          
        {%- if paginate.pages > 1 -%}
        <!-- <nav class="nav_page" role="navigation"> -->
            <ol class="pagination font02">
                {%- if paginate.previous-%}
                <li>
                    <a class="trans" href="{{ paginate.previous.url }}">
                        <i class="arrow_l fas fa-long-arrow-alt-left" style="color:black;"></i>
                    </a>
                </li>
                {%- else -%}
                <li class="disabled">
                    <i class="arrow_l fas fa-long-arrow-alt-left a-trans" style="color:black;"></i>
                </li>
                {%- endif -%}
                
                
                

                {%- for part in paginate.parts -%}
                    {%- if part.is_link -%}
                       {%- if part.title == paginate.current_page -%}
                            <li class="page_number font02">
                                <a href="{{ part.url }}">{{part.title}}</a>
                            </li>
                        {%- endif -%}
                    {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                            <li class="page_number font02">
                                <a href="{{ part.url }}">{{part.title}}</a>
                            </li>
                        {%- else -%}
                            <li class="page_number font02">
                                <a href="{{ part.url }}">{{part.title}}</a>
                            </li>
                        {%- endif -%}
                        
                    {%- endif -%}
                    
                    {%- if forloop.last == true -%}
                       
                       <li class="page_number font02"> / {{ forloop.index }}</li> 
                    {% endif %}
                {%- endfor -%}
                
                
                

                {%- if paginate.next -%}
                <li>
                    <a class="trans" href="{{ paginate.next.url }}">
                        <i class="arrow_r fas fa-long-arrow-alt-right"></i>
                    </a>
                </li>
                {%- else -%}
                <li class="disabled">
                    <i class="arrow_r fas fa-long-arrow-alt-right a-trans"></i>
                </li>
                {%- endif -%}
            </ol>
        <!-- </nav> -->
        {%- endif -%}

        {% endpaginate %}                  

    </div>

</div>
