<div class="section_container">
        <div class="product_inner">
            <div class="section_title font01">NEW ITEM</div>
            {% assign collection = collections[section.settings.collection] %}
            <div class="products">

              {% for product in collection.products limit: section.settings.product_limit %}
          

        <!-- ------------------------------------------------------------------------------------------------------------ -->
                
                  <div class="product"  >

                    <a href="{{product.url}}">
                         <div class="product_img_box">
                             {% for image in product.images limit:2%}
                                <img class="product_img0{{forloop.index}}" src="{{ image.src | img_url: '1920x' }}">
                            {% endfor %}
                         </div>
                          <div class="product_name font02 bold">{{product.title}}</div>
                          <div class="product_price font02 bold">{{product.price | money}} +tax</div>
                      </a>
                    
                  </div>
               
                  
               
                
                {% endfor %}
            </div>
            <div class="btn_box">
                <a class="b_hover viewmore font01" href="{{ collection.url }}">Coming soon</a>
            </div>
            
        </div>
    </div>

    {% schema %}
  {
    "name": "Homepage Products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Trending Products"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "product_limit",
        "label": "Product Limit",
        "min": 3,
        "max": 9,
        "default": 6
      }
    ]
  }
{% endschema %}