  <section class="2022_new_collection sec">
    <h2>焼き肉ジャンボオンライン商品一覧</h2>
    

    <div class="collection-wrap flex">
    {% assign collection = collections[section.settings.toppage_collection] %}
    {% paginate collection.products by 4 %}
    {% for product in collection.products %}
      <a href="{{ product.url }}" class="product_card">
        <img src="{{product.featured_image.src | img_url: '1920x'}}" alt="">
        <h3>{{ product.title }}</h3>
        <p class="price">{{ product.price|money_without_currency }}</p>
        <p class="Btn bgleft"><span>詳細を見る</span></p>
      </a>
    {% endfor %}
    {% endpaginate %}

    </div>

    
    
    <a href="{{collection.url}}" class="Btn02 bgleft02"><span>VIEW ALL</span></a>

  </section>


  {% schema %}
  {
      "name" :"TOPpage Collection",
      "settings": [
          {

          "type": "collection",
          "id": "toppage_collection",
          "label": "Toppage_Collection"
          }
      ]
  }
  {% endschema %}