
<section class="slider"> 
    
    <ul class="slider-wrap">
      <li class="slider-item01 slider-item" style="background-image: url('{{section.settings.mv_top_image01 | img_url: '3000px'}}')">
        <img src="{{IMG__0034a.jpeg | img_url: '3000x'}}" alt="">
        <div class="copy_area">
        </div>
      </li>
      <li class="slider-item02 slider-item" style="background-image: url('{{section.settings.mv_top_image02 | img_url: '3000px'}}')">
        <img src="{{IMG__0034a.jpeg | img_url: '3000x'}}" alt="">
        <div class="copy_area">
        </div>
      </li>
      <li class="slider-item03 slider-item" style="background-image: url('{{section.settings.mv_top_image03 | img_url: '3000px'}}')">
        <img src="{{IMG__0034a.jpeg | img_url: '3000x'}}" alt="">
        <div class="copy_area">
        </div>
      </li>
      <li class="slider-item04 slider-item" style="background-image: url('{{section.settings.mv_top_image04 | img_url: '3000px'}}')">
        <img src="{{IMG__0034a.jpeg | img_url: '3000x'}}" alt="">
        <div class="copy_area">
        </div>
      </li>
    </ul>

</section>

{% schema %}
{
  "name": "slider",
  "settings": [
    {
    "type": "image_picker",
    "id": "mv_top_image01",
    "label": "slide img01"
    },
    {
    "type": "image_picker",
    "id": "mv_top_image02",
    "label": "slide img02"
    },
    {
    "type": "image_picker",
    "id": "mv_top_image03",
    "label": "slide img03"
    },
    {
    "type": "image_picker",
    "id": "mv_top_image04",
    "label": "slide img04"
    }
  ]

}

{% endschema %}