<script type="text/javascript">
  window.product = {{product | json}} || {};
</script>
{% assign description = product.description | split: "サイズ詳細" | first %}
{% assign sizing = product.description | split: "サイズ詳細" | last %}
{% assign relation_type = product.type %}
{% assign relation_title = product.title %}
{% assign collection = collections[section.settings.collection] %}
<div class="single_product_container">
    <div class="single_product_inner">

        <div class="size_menu_back"></div>

        <div class="size_menu font02">
            <a class="size_esc" href="" src="">×</a>
            <div class="size_detail">
                <span class="bold">サイズ詳細</span>
                {{sizing}}
            </div>
        </div>

        <div class="product_top_container">
            <div class="single_product_left">
                <div class="single_product_main">
                    <ul id="slider">
                        {% for image in product.images %}
                        <li class="slide-item"><img data-lazy="{{image.src | img_url: '1920x'}}" alt="画像"></li>
                         {% endfor %}
                    </ul>

                </div>
                <div class="single_product_imgs">
                    <ul id="thumbnail-list">
                        {% for image in product.images %}
                        <li class="thumbnail-item"><img src="{{image.src | img_url: '1920x'}}"></li>
                        {% endfor %}
                    </ul>


                </div>
            </div>
            <div class="single_product_right">
                <div class="single_product_title font02 bold">{{product.title}}</div>
                <div class="single_product_detail_box">
                    <div class="single_product_price font01">{{product.price | money}} (+tax)</div>
                    {% for color_option in product.options_by_name['色'].values %}
                    <span class="color-circle" id="{{ color_option }}"></span>
                    {% endfor %}
                </div>


                <div class="single_product_text font02">
                    {{description}}
                    
                </div>


                <a class="size_trigger font02" href="">→サイズ詳細を見る</a>

                <form method="post" action="/cart/add">
                    {% unless product.has_only_default_variant %}
                    {% for product_option in product.options_with_values %}
                    <div class="select_box product-category">
                        <select required class="form-control single_product_size_select font02 bold" data-index="option{{forloop.index}}">
                            {% for value in product_option.values %}

                            {% if forloop.first == true %}
                            <option value="" hidden {% if product_option.selected_value == value %} selected="selected" {% endif %}>{{value}}</option>

                            {% else %}
                            <option reqired value="{{value | escape}}" {% if product_option.selected_value == value %} selected="selected" {% endif %}>{{value}}</option>
                            {% endif %}

                            {% endfor %}
                            <!-- <option value="" hidden>配色を選択してください</option>
                                                <option value="color01">color01</option>
                                                <option value="color01">color01</option>
                                                <option value="color01">color01</option> -->

                        </select>
                    </div>
                    {% endfor %}
                    {% endunless %}


                    <input type="hidden" id="variant-id" name="id" value={{product.variants.first.id}}>
                    <input type="submit" value="カートに追加する" class="b_hover cart_btn font02">

                    <a href="https://doublesiks.com/collections/{{product.type}}">
                        <div class="a_under back_btn font02">← カテゴリに戻る</div>
                    </a>

                </form>
            </div>
        </div>




        <div class="product_bottom_container">
            <div class="relation_items">
                <div class="font01 bold coordinate_item_title">COORDINATE ITEM</div>

                <div class="coordinate_items">
                {% for tag in product.tags %}

                    {% if {{tag}} contains 'type'%}
                    {% assign type-tag = {{tag}} %}
                        {% for collection in product.collections %}

                            {% for product in collection.products%}
                                    {% for tag in product.tags %}

                                        {% if {{tag}} == type-tag %}
                                            {% if product.title != relation_title%}


                                                    <div class="c-item">
                                                        <a href="{{product.url}}">
                                                            <img class="c-img" src="{{ product.featured_image | img_url:'1920x'}}" alt="">
                                                            <p class="font02 item_name">{{product.title}}</p>
                                                            <p class="font01">{{product.price | money }} +tax</p>
                                                        </a>

                                                    </div>

                                            {% endif %}
                                        {% endif %}
                                    {% endfor%}        
                            {% endfor%}
                        {% endfor %}
                    {% endif %}

                {% endfor %}

                    
                </div>
            </div>
        </div>


    </div>
</div>



