  <main class="product">
    

  <section class="sec sec03">
    <div class="popular_product flex">
      <div class="product__post">

        <div class="ProductImage">

          <ul class="gallery">
{% for image in product.images %}
<li><img src="{{ image | image_url: width: 1000 }}" alt=""></li>
{% endfor %}
          </ul>

          <ul class="choice-btn flex slideItemImage">
{% for image in product.images %}
<li><img src="{{ image | image_url: width: 100 }}" alt=""></li>
{% endfor %}

          </ul>
        </div>
        
        
      </div>

      <div class="product__detail">
        <div class="product__detail__stickey">

          <div class="product__detail__main">
            <p class="maison">焼肉ジャンボ</p>
            <h2>{{ product.title }}</h2>
            <p class="price">{{ product.price}}</p>
          </div>
          <div class="product__detail__text">
            {{ product.content }}
          </div>

          <form action="#" class="product__wrap">
          <label for="#">お渡し用袋</label>
          <select name="" id="">
            <option value="不要">不要</option>
            <option value="要">要</option>
          </select>
        </form>
        <div class="counter">
          <span><i class="fas fa-minus"></i></span>
          <span>1</span>
          <span><i class="fas fa-plus"></i></span>
        </div>
        <button href="#" class="Btn02 bgleft02">
          <span>カートに追加する</span>
        </button>
        <p class="alert">あと<span>7時間0分</span>以内のご注文確定で3月02日（水）〜3月03日(木)の間に商品を受け取る</p>
      </div>
      </div>
    </div>

  </section>

{% section 'index-collection' %}

  
  



</main>



