  <main class="product">
    

  <section class="sec sec03">
    <div class="popular_product flex">
      <div class="product__post">

        <div class="ProductImage">

          <ul class="gallery">
{% for image in product.images %}
<li><img src="{{ image | image_url: width: 1000 }}" alt=""></li>
{% endfor %}
          </ul>

          <ul class="choice-btn flex slideItemImage">
{% for image in product.images %}
<li><img src="{{ image | image_url: width: 1000x }}" alt=""></li>
{% endfor %}

          </ul>
        </div>
        
        
      </div>

        <div class="product__detail">
          <div class="product__detail__stickey">
  
            <div class="product__detail__main">
              <p class="maison">焼肉ジャンボ</p>
              <h2>{{ product.title }}</h2>
              <p class="price">{{ product.price}}</p>
            </div>
            <div class="product__detail__text">
              {{ product.content }}
            </div>
  
  <!--
            <form action="#" class="product__wrap">
              <label for="#">お渡し用袋</label>
              <select name="" id="">
                <option value="不要">不要</option>
                <option value="要">要</option>
              </select>
            </form>
          <div class="counter">
            <span><i class="fas fa-minus"></i></span>
            <span>1</span>
            <span><i class="fas fa-plus"></i></span>
          </div>
          <button href="#" class="Btn02 bgleft02">
            <span>カートに追加する</span>
          </button>

          -->


              <form method="post" action="/cart/add">
                    {% unless product.has_only_default_variant %}
                    {% for product_option in product.options_with_values %}
                    <div class="select_box product-category">
                        <select required class="form-control single_product_size_select font02 bold" data-index="option{{forloop.index}}">
                            {% for value in product_option.values %}

                            {% if forloop.first == true %}
                            <option value="" hidden {% if product_option.selected_value == value %} selected="selected" {% endif %}>{{value}}</option>

                            {% else %}
                            <option reqired value="{{value | escape}}" {% if product_option.selected_value == value %} selected="selected" {% endif %}>{{value}}</option>
                            {% endif %}

                            {% endfor %}
                            <!-- <option value="" hidden>配色を選択してください</option>
                                                <option value="color01">color01</option>
                                                <option value="color01">color01</option>
                                                <option value="color01">color01</option> -->

                        </select>
                    </div>
                    {% endfor %}
                    {% endunless %}


                    <input type="hidden" id="variant-id" name="id" value={{product.variants.first.id}}>
                    
                    <p class="Btn02 bgleft02"><input type="submit" value="カートに追加する"></p>
                    


                    <a href="#" class="Btn02 bgleft02"><span>VIEW ALL</span></a>

              </form>
        </div>
      </div>
    </div>

  </section>

{% section 'index-collection' %}

  
  



</main>



